
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: url("/images/paisagem.jpg") ;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .login-box{
    position: absolute;
    width: 390px;
    height: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.login-box h2{
    font-size: 28px;
    color: #fff;
    text-align: center;

}

.login-box .input-box{
    position: relative;
    width: 310px;
    margin: 30px 0 ;
    border-bottom: 2px solid #FFf;
}

.input-box input{
    width: 100%;
    height: 50px;
    background:transparent;
    border:none;
    outline: none;
    font-size: 16px;
    color: #FFf;
    padding: 0 35px 0 5px;

}

.input-box input::placeholder{
    color: #f9f9f9;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 18px;
    line-height: 50px;

}

.login-box .remember-forgot{
    margin: -15px o 15px;
    font-size: 15px;
    color: #fff;
    display: flex;
    justify-content: space-between;


}

.remember-forgot label input{
    margin-right: 10px;
}

.login-box .botao {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: rgb(0, 0, 0);
    transition: all 0.4s;
}


.login-box .register-link{
    font-size: 15px;
    color: #fff;
    text-align: center;
    margin:20px 0 10px;

}

.remember-forgot a, 
.register-link a{
    color: rgb(114, 177, 124);
}

.remember-forgot a:hover, 
.register-link a:hover{
    text-decoration: underline;
}